// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menuHeader{
    background-color: red;
}
.menuList{
    background-color: red;
}
.menuItem{   
     background-color:#1f1f1f !important;
     font-size: 1.5rem;
     color: #fff;
     height: 55px;
     padding-left:0px !important
  }
.list .item-block .item-inner{
    border-bottom: 0.55px solid #3c3b3b  !important;
}

.toolbar-title-md{
    padding: 0px !important;
    background: black !important;

}
.footerMenu{
    background-color: black;
    color: #fff;
}
.menulist{
    margin:0px;
}
.sidemenuHeader{
    background-color: black;
// background-image: url('../assets/imgs/side_menu1.jpg');
// -webkit-filter: blur(4px);
// -moz-filter: blur(10px);
// -o-filter: blur(10px);
// -ms-filter: blur(10px);
// filter: blur(4px);
}